body,
html,
#root {
  height: 100%;
  margin: 0;
  background-color: #d0fff1
}

.App {
  text-align: center;
}

.App h1 {
  font-size: 3em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.CityName {
  margin: 0;
  font-size: 3em;
}

.Weather {
  margin: auto;
  margin-bottom: 5em;
  background-image: linear-gradient(#41a5ec,  rgb(233, 233, 233));
  width: clamp(22rem, 30vw, 30rem);
  border-radius: 15px;
  padding-top: 1em;
}