.Search {
    margin: 1em 0;
}

input {
    height: 1.5em;
    border: 2px solid white;
    border-radius: 5px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-inline-end: 1em;
    position: relative;
}

button {
    background-color: rgb(28, 26, 37);
    color: white;
    border: none;
    border-radius: 5px;
    height: 2em;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(33, 31, 43);
    color: rgb(33, 31, 43);
}

::placeholder { 
    color: rgb(0, 0, 0);
    opacity: 1; 
  }
